@{
    ViewData["Title"] = "Home Page";
}
<div style="background-image:url(/wwwroot/images/produc/)">
   
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</div>
